# Hide warnings from building external dependencies
build --output_filter='^//((?!(external):).)*$'

# C++
build --repo_env=BAZEL_CXXOPTS=-std=c++17
build --action_env=BAZEL_CXXOPTS=-std=c++17
build --client_env=BAZEL_CXXOPT=-std=c++17
build --cxxopt=-std=c++17
build --copt=-Werror=switch
build --copt=-O3
build --compilation_mode=opt
# Force C++ opentelemetry to use ABI version 2 over the default of 1,
# which is required to support capabilities used in the CPIO library
build --@io_opentelemetry_cpp//api:abi_version_no=2

# Silence noise coming from external libraries (Tink C++)
build --copt=-Wno-deprecated-declarations

# Java
test --test_output=all
build --java_language_version=11
build --java_runtime_version=remotejdk_11
run --java_language_version=11
run --java_runtime_version=remotejdk_11
test --java_language_version=11
test --java_runtime_version=remotejdk_11
# Fix non-deterministic Java compilation failures
build --incompatible_sandbox_hermetic_tmp

# Config for Lookup Service's run_within_container.sh
# Enable with --config=run-within-container
build:run-within-container --//cc/lookup_server/server/src:platform=gcp
build:run-within-container --@com_google_adm_cloud_scp//cc/public/cpio/interface:platform=gcp
build:run-within-container --@com_google_adm_cloud_scp//cc/public/cpio/interface:run_inside_tee=True
