build --compilation_mode=opt

# C++
build --action_env=BAZEL_CXXOPTS=-std=c++17
build --client_env=BAZEL_CXXOPT=-std=c++17
build --cxxopt=-std=c++17
build --copt=-Werror=switch
build --copt=-O3
# Silence noise coming from external libraries (Tink C++)
build --copt=-Wno-deprecated-declarations

# Java
test --test_output=all
build --java_language_version=11
build --java_runtime_version=remotejdk_11
run --java_language_version=11
run --java_runtime_version=remotejdk_11
test --java_language_version=11
test --java_runtime_version=remotejdk_11
# Fix non-deterministic Java compilation failures
build --incompatible_sandbox_hermetic_tmp
